header{
  display: flex;
  flex-flow: row;
  background-color: #efe0e2;
  margin: 0;
  padding: 0 10px;
}


header h1{
  order:1;
  color:black;
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
}

header h4 {
  order:2;
  color:black;
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
}

nav ul li{
  display: block;
  border-top:1px black solid;
}

nav a{
  color:black;
  display: block;
  text-decoration: none;
  padding:20px 30px;
}

.menu-trigger{
  order:3;
}

nav ul{
  display: none;
}


body{
	background-color:#cc919a;
}


p{
	font-family: 'Merriweather', Georgia, "Times New Roman", serif;
}

img{
	border-style: none;
	width: 200px;
}

article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}

#joke{
	color: #0f721a;
	font-weight: bold;
	font-size: 1.2em;
}

#container{
    width: 80%;
    background-color: #ffe9ec;
    margin: 0 auto;
    text-align:center;
}

.map-wrapper {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-wrapper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


#footer {
    color: black;
    font-family: "Merriweather",Georgia, "Times New Roman", serif;
    font-size: 0.8em;
		font-weight: bold;
		border-top: 1px solid black;
		background-color: #bfbfbf;
}


image {
    display: block;
}
@media screen and (min-width:800px) {
    img {
    float:left;
    }
  }




@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
				"c c d"
				"e e e";
  }


.joke {
	grid-area: a;
}

.bagull {
	grid-area: c;
}

.aboutme {
	grid-area: e;
}

.image{
	grid-area: d;
}

.extrainformation {
	grid-area: b;
}
}
@media screen and (min-width:1200px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        ". d b ."
        ". a c ."
        "e e e e";
  }
}


@media screen and (min-width: 700px){
  nav ul{
    display:flex;
  }
  .menu-trigger{
    display:none;
  }
  nav ul li{
    border-top: none;
  }
  nav{
    order:4;
  }
  header h1{
    order:1;
  }
}
