#header {
  color:  #955a5a;
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  text-align: center;
}

body {
  background-color: #c59f9f;
}

#container {
    width: 75%;
  margin: 0 auto;
  text-align: center;
  background-color: #ffc7c7;
}


#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #ffffff;
  background-color: #c59f9f;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
  text-decoration: none;
  width: 70%;
  margin: 0 auto;
}

#nav a:hover, #nav a:active {
  background-color: #f2d4d4;
  text-decoration: none;
}

#footer{
  color:#955a5a;
  font-family: Georgia, "Times New Roman",serif;
  font-size:0.8em;
  border-top:1px solid black;
  text-align: right;
}










{}
